#Ignore Filetypes
*.log
*.bin
*.gguf
*.onnx

# Ignore python virtual environments
venv/
.venv/

# Ignore local environment files
__pycache__/
.env

# Ignore Interrupted downloads
*.partial
*.partial-*

# Ignore Ollama data and massive model blobs
stack/ollama/data/
stack/ollama/models/

# Ignore Open WebUI User generated Data
stack/openwebui/data/

# Ignore Docling User generated Data & models
stack/docling/data/
stack/docling/models/