#Ignore Filetypes
*.log
*.bin
*.gguf
*.onnx

# Ignore python virtual environments
venv/
.venv/

# Ignore local environment files
__pycache__/
.env

# Ignore Interrupted downloads
*.partial
*.partial-*

# Ignore AI Models
models/

# Ignore Stack Data & model directories
stack/ollama/data
stack/openwebui/data/
stack/docling/data/
stack/docling/models/