# Set the model that vllm will use.
# Run set_model.sh to make it easy to select which downloaded huggingface model to set.
# To download huggingfacemodel use ai-leverage/stack/huggingface
HUGGINGFACE_MODEL="LilaRest/gemma-4-31B-it-NVFP4-turbo"

# Set percentual limit of how much vram vllm can use. 
# Range between 0-1 indicating 0-100% 
# ex. 0.1 = 10% of max gpu vram. 0.8 = 80% of max vram
# Default vale 0.9
VRAM_LIMIT=0.90

# Total capacity for input + output tokens. Higher values reserve more VRAM.
# Common sizes: 8192 (Standard), 32768 (Long), 131072 (Deep Context)
CONTEXT_SIZE=131072
